@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: 'Caveat', cursive;

  background-image: url(../dist/9dce6fde825aee20fa5a.jpg);
  background-color: #A5ABAF;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
Element selectors
*/

a {
  color: inherit;
  text-decoration: none;
}

/*
Class/ID selectors
*/

.header, .hero, .footer {
  backdrop-filter: blur(6px);
}

.header {
  background-color: rgb(54,56,54);
  background: linear-gradient(90deg, rgba(54,56,54,0.8) 0%, rgba(54,56,54,0.65) 50%, rgba(54,56,54,0.5) 100%);
  border-bottom: 1px solid #DFB16F;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 12px 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-left {
  display: flex;
  gap: 72px;
}

.logo-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logo {
  color: #DFB16F;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 4px;
}

.nav-tabs {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav-tabs li {
  color: #C4CACE;
  font-size: 2.25rem;
  font-weight: 600;
}

.order {
  background: none;
  backdrop-filter: blur(24px);
  background-color: rgba(201, 135, 44, 0.5);
  border: 2px solid #DFB16F;
  border-radius: 8px;
  color: #F4E4CD;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 8px 32px;
}



.hero {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hero-content, .media-wrapper {
  background-color: #000000B0;
  grid-row: 1 / 2;
  margin: 24px 12px;
  padding: 8px;
}

.hero-content {
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-right: 16px solid #DFB16F;
  color: #F4E4CD;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.hero-content h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.hero-content p {
  font-size: 1.75rem;
  font-weight: 600;
}

.hero-content button {
  align-self: center;
  font-size: 1.25rem;
  padding: 12px 48px;
}

.hero-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-bottom p {
  font-size: 2rem;
  font-weight: 700;
}

.hero-bottom hr {
  border: none;
  outline: 1px solid #F4E4CD;
  margin: 8px;
  width: 75%;
}

.media-wrapper {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-left: 16px solid #DFB16F;
  grid-column: 2 / 4;
  display: flex;
  justify-content: space-around;
}

.media-wrapper img {
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  flex: 1 1 auto;
  max-height: 70%;
  max-width: 30%;
}

.media-wrapper img:nth-child(2) {
  align-self: center;
}

.media-wrapper img:nth-child(3) {
  align-self: flex-end;
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: rgb(134,90,29);
  background: radial-gradient(circle, rgba(134,90,29,0.75) 0%, rgba(134,90,29,0.7) 25%, rgba(134,90,29,0.65) 50%, rgba(134,90,29,0.6) 75%, rgba(134,90,29,0.5) 100%);
  border-top: 1px solid #DFB16F20;
  color: #C4CACE;
  padding: 8px 0;
  width: 100%;
}

.footer span {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  margin: 0 6px;
}