@font-face {
  font-family: 'MyFont';
  src: url('./assets/minecraft.ttf');
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(./assets/hero-bg.jpg);
  background-size: cover;
  backdrop-filter: blur(8px);
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}



#content {
  display: flex;
  flex-direction: column;
  flex: 1;
}



.header, .footer {
  background-image: url(./assets/head-foot-bg.jpg);
}

.header {
  padding-inline: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.header > h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.header > h1, .nav > button {
  font-family: 'MyFont';
}

.nav {
  display: flex;
  gap: 48px;
}

.nav > button {
  padding: 8px 16px;

  border: 1px solid black;
  border-radius: 4px;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

nav > .active {
  background-color: #9dcdfb50;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 36px #ffffff;
  border: 1px solid black;
  color: black;
}



.page-content {
  flex: 1;
  display: flex;
  justify-content: center;

  text-align: center;
}

.hero {
  margin: 24px 0;
  padding: 0 16px;

  min-width: 75%;

  background-color: #00000015;
  border: 1px solid #efefef;
  border-radius: 4px;
  color: #efefef;
}

.divider {
  width: 50%;
}

.hero-menu {
  margin-block-end: 0.83em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 8px;
  justify-content: start;
}

.menu-card {
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #295791;
  border-radius: 4px;
  border: 1px solid #efefef;
}

.menu-card:nth-of-type(1), .menu-card:nth-of-type(4), .menu-card:nth-of-type(5), .menu-card:nth-of-type(8), .menu-card:nth-of-type(9), .menu-card:nth-of-type(12) {
  background-color: #c75a35;
}

.hero > img {
  border: 1px solid #efefef;
  border-radius: 4px;
}

.card-left, .card-right {
  display: flex;
  flex-direction: column;
}

.card-left {
  align-items: start;
}

.card-left > h4 {
  margin: 0;
}

.card-right {
  align-items: end;
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 1.125rem;
  border-top: 2px solid #5a9332;
  background-position: bottom;
}

.footer-source {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-logo {
  height: 25px;
}

.foot-text {
  font-weight: bold;
}